.reveal {
  color: #4D4D4D;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  color: #4D4D4D;
}

.reveal h1 { font-size: 2.0em; }
.reveal h2 { font-size: 1.5em; }
.reveal h3 { font-size: 1.3em; }
.reveal h4 { font-size: 1.3em; }

.reveal a { 
  color: #F37626;
  text-decoration: underline;
}

.reveal a:hover { 
  color: #F37626;
  opacity: 0.8;
}

.reveal .small p,
.reveal .small ol,
.reveal .small li { 
  font-size: 21px;
  margin: 10px 0;
}

.reveal code {
  color: #F37626;
}